*.pyc
data
webserver/
Makefile
config.cfg
build/
corenlp-frontend/
lib/
virtuoso-db/
virtuoso-opensource/
.idea/
.project
.pydevproject
*.so
testresult/dump
testresult/raw
testresult/query
testresult/bow
testresult/bowaqqu
testresult/bowlong
testresult/bowshort
testresult/bowlongscore
testresult/bowshortscore
